<h2>{{title | json}}</h2>
    

    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Even / Odd</th>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Room Price</th>
          <th>Room Amenities</th>
          <th>Select Price</th>
          <th>Check in Time</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="e ? 'even' : 'odd' " *ngFor="let room of rooms; let e= even; let o= odd; let i=index">
          <td>{{i+1}}</td>
          <td>{{o ? "Even" : "Odd"}}</td>
          <td>{{room.roomNumber}}</td>
          <td>{{room.roomType}}</td>
          <td>{{room.price}}</td>
          <td>{{room.amenities}}</td>
          <td>
            <button 
            class="btn btn-md btn-primary ms-2"
            (click)="selectRoom(room)"
            >
            Select room</button>
          </td>
          <td>{{room.checkinTime}}</td>
        </tr>
      </tbody>
    </table>



    <!-- {{roomList}} -->
    <!-- <table>
        <tr>
          <th>S.No</th>
          <th>Even / Odd</th>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Room Price</th>
          <th>Room Amenities</th>
          <th>Check in Time</th>
        </tr>
        <tr [ngClass]="o ? 'even' : 'odd' " *ngFor="let room of roomList; let e= even; let o= odd; let i=index">
          <td>{{i+1}}</td>
          <td>{{o ? "Even" : "Odd"}}</td>
          <td>{{room.roomNumber}}</td>
          <td>{{room.roomType}}</td>
          <td>{{room.price}}</td>
          <td>{{room.amenities}}</td>
          <td>{{room.checkinTime}}</td>
        </tr>
      </table> -->

