<!-- <h3>Wecome to the new motel - {{hotelName}}</h3> -->

<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>


<div [hidden]="hideRooms">
    <!-- Property binding -->
Number of Rooms : -
<div *ngIf="rooms.availableRooms > 0"
     [ngStyle]="{color: 'red'}"
     [innerText]="totalRooms"></div>
</div>

{{rooms?.availableRooms ?? 'No rooms'}}

<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<div>
  <button 
  class="btn btn-md btn-primary ms-2"
  (click)="addRoom()"
  >
  Add room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list 
  [rooms]="roomList"
  [title]= "title"
  (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>